<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/blog}" method="get">
    <div class="mb-3">
        <label for="categoryName" class="form-label">Category Name</label>
        <input type="text" id="categoryName" name="categoryName" class="form-control" placeholder="Enter category name" required>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<div th:if="${blogs != null}">
<div class="container mt-5">
    <h3 class="text-center mb-4">Blogs List</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>No.</th>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog, state : ${blogsSorted}">
            <td th:text="${state.count}"></td>
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.getName()}"></td>
            <td th:text="${blog.time}"></td>
            <td>
                <a th:href="@{/blog/{id}/show-update(id=${blog.id})}" class="btn btn-warning btn-sm me-2">Update</a>
                <a class ="btn btn-danger btn-sm me-2" th:onclick="isDelete([[${blog.id}]], [[${blog.title}]])">Delete</a>
                <a th:href="@{/blog/{id}(id=${blog.id})}" class="btn btn-info btn-sm">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-end">
        <a href="/blog/show-add" class="btn btn-primary">Add New</a>
    </div>
</div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:if="${blogs.hasPrevious()}">
            <a class="page-link" th:href="@{/blog(page=${blogs.number-1}, name=${title})}">Previous</a></li>
        <li class="page-item" th:if="${blogs.hasNext()}">
        <a class="page-link" th:href="@{/blog(page=${blogs.number+1}, name=${title})}">Next</a></li>
    </ul>
</nav>
<script>
    function isDelete(id, title){
        let isConfirm = confirm("Are you want to delete blog with " + "title is: " + title);
        if(isConfirm){
            window.location.href = '/blog/'+ id+ '/delete';
            return true;
        }
        return false;
    }
</script>
<div th:if="${message != null}">
    <strong><p style="color:green;" th:text="${message}"></p></strong>
</div>
<div th:if="${error != null}">
    <strong><p style="color:red;" th:text="${error}"></p></strong>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
